## Raw Dataset 1
- This dataset represents COVID-19 cases for individuals with developmental disabilities in Ohio from the start of the pandemic until Feb. 24 2021.
- Source: Erich Hiner, Communications Director at Ohio Association of County Boards
- Raw dataset link is [here](https://drive.google.com/file/d/13fEciSepCZ2g61oD97LnEY5ums6I1IOP/view?usp=sharing)

In [13]:
import pandas as pd
df = pd.read_csv('ohio_dodd_covid_data.csv')

In [18]:
df.head(10)

,"Total DD Positive Cases (start of pandemic to Feb. 24, 2021)","Total DD Deaths (start on pandemic to Feb. 24, 2021)",Unnamed: 2,Age Range of Positives,"Number (Start of Pandemic to Feb. 24, 2021)",% of All Cases for Which Age Data Exists,Unnamed: 6,Living Situations of Positives,Number (Start of Pandemic to Feb 24. 2021),% of All Cases for Which Living Situation Data Exists
0,"4,757",199.0,NaN,0-20,422,9.20%,NaN,Living Alone,489.0,10.30%
1,NaN,NaN,NaN,21-30,767,16.70%,NaN,Living with Family,1163.0,24.60%
2,NaN,NaN,NaN,31-40,690,15.00%,NaN,Congregate Setting*,1804.0,38.10%
3,NaN,NaN,NaN,41-50,732,16.00%,NaN,ICF** or Nursing Facility,1281.0,27.00%
4,NaN,NaN,NaN,51-60,896,19.50%,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,61-70,746,16.30%,NaN,*Defined for COVID-tracking purposes as any ph...,NaN,NaN
6,NaN,NaN,NaN,70 & up,333,7.30%,NaN,**Licensed Intermediate Care Facility for the ...,NaN,NaN

In [15]:
df.tail(10)

,"Total DD Positive Cases (start of pandemic to Feb. 24, 2021)","Total DD Deaths (start on pandemic to Feb. 24, 2021)",Unnamed: 2,Age Range of Positives,"Number (Start of Pandemic to Feb. 24, 2021)",% of All Cases for Which Age Data Exists,Unnamed: 6,Living Situations of Positives,Number (Start of Pandemic to Feb 24. 2021),% of All Cases for Which Living Situation Data Exists
0,"4,757",199.0,NaN,0-20,422,9.20%,NaN,Living Alone,489.0,10.30%
1,NaN,NaN,NaN,21-30,767,16.70%,NaN,Living with Family,1163.0,24.60%
2,NaN,NaN,NaN,31-40,690,15.00%,NaN,Congregate Setting*,1804.0,38.10%
3,NaN,NaN,NaN,41-50,732,16.00%,NaN,ICF** or Nursing Facility,1281.0,27.00%
4,NaN,NaN,NaN,51-60,896,19.50%,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,61-70,746,16.30%,NaN,*Defined for COVID-tracking purposes as any ph...,NaN,NaN
6,NaN,NaN,NaN,70 & up,333,7.30%,NaN,**Licensed Intermediate Care Facility for the ...,NaN,NaN

In [23]:
df.shape

(8, 8)

## Tidied Dataset 1
- I removed age ranges 0-20 and 70&up. 
- I removed living situations of positive cases of individuals living alone or living with family.
- My story will talk about individuals living in congregate settings and ICF settings from the age range 51-60 for the most part, but I may compare different age ranges as well.
- Tidied dataset link is [here](https://docs.google.com/spreadsheets/d/1nJfwrfLNwLLlCVbaj65w8n9yGO1Ua8xLpVrKLuU-ybs/edit#gid=0)

In [5]:
import pandas as pd
df = pd.read_csv('python_krabill_covid_dodd_data.csv')

In [10]:
df.head(10)

,Total DD positive cases,Total DD deaths,Age range of positive cases,Total positive cases by age range,% of all cases for which age data exists,Living situations of positive cases,Total positive cases by living situations,% of all cases for which living situation data exists
0,"4,757",199.0,21-30,767.0,16.70%,Congregate Setting*,1804.0,38.10%
1,NaN,NaN,31-40,690.0,15.00%,ICF** or Nursing Facility,1281.0,27.00%
2,NaN,NaN,41-50,732.0,16.00%,NaN,NaN,NaN
3,NaN,NaN,51-60,896.0,19.50%,NaN,NaN,NaN
4,NaN,NaN,61-70,746.0,16.30%,NaN,NaN,NaN
5,*Defined for COVID-tracking purposes as any ph...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,**Licensed Intermediate Care Facility for the ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Data is from the start of the pandemic to Feb ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.tail(10)

,Total DD positive cases,Total DD deaths,Age range of positive cases,Total positive cases by age range,% of all cases for which age data exists,Living situations of positive cases,Total positive cases by living situations,% of all cases for which living situation data exists
0,"4,757",199.0,21-30,767.0,16.70%,Congregate Setting*,1804.0,38.10%
1,NaN,NaN,31-40,690.0,15.00%,ICF** or Nursing Facility,1281.0,27.00%
2,NaN,NaN,41-50,732.0,16.00%,NaN,NaN,NaN
3,NaN,NaN,51-60,896.0,19.50%,NaN,NaN,NaN
4,NaN,NaN,61-70,746.0,16.30%,NaN,NaN,NaN
5,*Defined for COVID-tracking purposes as any ph...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,**Licensed Intermediate Care Facility for the ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Data is from the start of the pandemic to Feb ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.shape

(7, 10)

## Raw Dataset 2
- This dataset represents COVID-19 cases in Ohio from the start of the pandemic until April 6 2021. Ohio COVID Dashboard did not have cases broken out by date, so this data does not end Feb. 24 2021 like Raw Dataset 1 does.
- Source: [Ohio Department of Health COVID Dashboard](https://coronavirus.ohio.gov/wps/portal/gov/covid-19/dashboards)
- Raw dataset link is [here](https://drive.google.com/file/d/1WiM7qcLtfgQIgU_oCh7tkSdd2Wr-Y2_Q/view?usp=sharing)

In [8]:
import pandas as pd
df = pd.read_csv('ohio_data_age_range.csv')

In [9]:
df.head(10)

,Total positive cases,Age range of positive cases,Total positive cases by age range,Total hospitalizations by age range,Total deaths by age range
0,"1,030,864",0-19,"135,675","1,302",7
1,NaN,20-29,"188,760","2,114",23
2,NaN,30-39,"157,204","2,795",98
3,NaN,40-49,"149,417","4,238",264
4,NaN,50-59,"156,574","7,724",928
5,NaN,60-69,"121,051","11,566","2,679"
6,NaN,70-79,"70,142","12,632","5,033"
7,NaN,80+,"52,041","11,359","9,708"
8,NaN,Data is from the start of the pandemic through...,NaN,NaN,NaN
9,NaN,Source: https://coronavirus.ohio.gov/wps/porta...,NaN,NaN,NaN

In [10]:
df.tail(10)

,Total positive cases,Age range of positive cases,Total positive cases by age range,Total hospitalizations by age range,Total deaths by age range
0,"1,030,864",0-19,"135,675","1,302",7
1,NaN,20-29,"188,760","2,114",23
2,NaN,30-39,"157,204","2,795",98
3,NaN,40-49,"149,417","4,238",264
4,NaN,50-59,"156,574","7,724",928
5,NaN,60-69,"121,051","11,566","2,679"
6,NaN,70-79,"70,142","12,632","5,033"
7,NaN,80+,"52,041","11,359","9,708"
8,NaN,Data is from the start of the pandemic through...,NaN,NaN,NaN
9,NaN,Source: https://coronavirus.ohio.gov/wps/porta...,NaN,NaN,NaN

In [11]:
df.shape

(10, 5)

## Tidied Dataset 2
- I removed age ranges 0-19, 70-79 and 80. 
- I removed total hospitalizations by age range and total deaths by age range.
- I will compare this data of Ohio COVID cases to Ohio COVID cases of indivudals with developmental disabilities, focusing on age range 50-59.
- Tidied dataset link is [here](https://drive.google.com/file/d/1IRHmHRHxl8TaSS-cht3WijytVnx5OWKB/view?usp=sharing)

In [12]:
import pandas as pd
df = pd.read_csv('clean_ohio_data_age_range.csv')

In [13]:
df.head(10)

,Total positive cases,Total deaths,Age range of positive cases,Total positive cases by age range
0,"773,006","3,992",20-29,"188,760"
1,NaN,NaN,30-39,"157,204"
2,NaN,NaN,40-49,"149,417"
3,NaN,NaN,50-59,"156,574"
4,NaN,NaN,60-69,"121,051"
5,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN
8,Data is from the start of the pandemic through...,NaN,NaN,NaN
9,Source: https://coronavirus.ohio.gov/wps/porta...,NaN,NaN,NaN

In [14]:
df.tail(10)

,Total positive cases,Total deaths,Age range of positive cases,Total positive cases by age range
0,"773,006","3,992",20-29,"188,760"
1,NaN,NaN,30-39,"157,204"
2,NaN,NaN,40-49,"149,417"
3,NaN,NaN,50-59,"156,574"
4,NaN,NaN,60-69,"121,051"
5,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN
8,Data is from the start of the pandemic through...,NaN,NaN,NaN
9,Source: https://coronavirus.ohio.gov/wps/porta...,NaN,NaN,NaN

In [15]:
df.shape

(10, 4)