## Ohio data for COVID-19 cases within DODD 

- This dataset came from Ohio Association of County Boards through an email from Erich Hiner, the Communications Director
- This dataset describes the total number of COVID-19 cases in Ohio for all age groups for individuals with developmental disabilities
- This dataset describes the living situation with indviduals with developmental disabilities who have tested positive for COVID-19
- I plan to compare these numbers with the Ohio COVID-19 cases, specifically cases in congregate settings and ages 21-30 and 51-60, which are the highest number for both datasets

In [1]:
import pandas as pd
df = pd.read_csv('ohio-dodd-covid-data.csv')

In [2]:
df.head(10)

,"Total DD Positive Cases (start of pandemic to Feb. 24, 2021)","Total DD Deaths (start on pandemic to Feb. 24, 2021)",Unnamed: 2,Age Range of Positives,"Number (Start of Pandemic to Feb. 24, 2021)",% of All Cases for Which Age Data Exists,Unnamed: 6,Living Situations of Positives,Number (Start of Pandemic to Feb 24. 2021),% of All Cases for Which Living Situation Data Exists
0,"4,757",199.0,NaN,0-20,422,9.20%,NaN,Living Alone,489.0,10.30%
1,NaN,NaN,NaN,21-30,767,16.70%,NaN,Living with Family,1163.0,24.60%
2,NaN,NaN,NaN,31-40,690,15.00%,NaN,Congregate Setting*,1804.0,38.10%
3,NaN,NaN,NaN,41-50,732,16.00%,NaN,ICF** or Nursing Facility,1281.0,27.00%
4,NaN,NaN,NaN,51-60,896,19.50%,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,61-70,746,16.30%,NaN,*Defined for COVID-tracking purposes as any ph...,NaN,NaN
6,NaN,NaN,NaN,70 & up,333,7.30%,NaN,**Licensed Intermediate Care Facility for the ...,NaN,NaN

In [3]:
df.tail(10)

,"Total DD Positive Cases (start of pandemic to Feb. 24, 2021)","Total DD Deaths (start on pandemic to Feb. 24, 2021)",Unnamed: 2,Age Range of Positives,"Number (Start of Pandemic to Feb. 24, 2021)",% of All Cases for Which Age Data Exists,Unnamed: 6,Living Situations of Positives,Number (Start of Pandemic to Feb 24. 2021),% of All Cases for Which Living Situation Data Exists
0,"4,757",199.0,NaN,0-20,422,9.20%,NaN,Living Alone,489.0,10.30%
1,NaN,NaN,NaN,21-30,767,16.70%,NaN,Living with Family,1163.0,24.60%
2,NaN,NaN,NaN,31-40,690,15.00%,NaN,Congregate Setting*,1804.0,38.10%
3,NaN,NaN,NaN,41-50,732,16.00%,NaN,ICF** or Nursing Facility,1281.0,27.00%
4,NaN,NaN,NaN,51-60,896,19.50%,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,61-70,746,16.30%,NaN,*Defined for COVID-tracking purposes as any ph...,NaN,NaN
6,NaN,NaN,NaN,70 & up,333,7.30%,NaN,**Licensed Intermediate Care Facility for the ...,NaN,NaN

df.dtypes

[Ohio DODD Cases](https://docs.google.com/spreadsheets/d/1Y7NPq1ysGui2aB7NlVrJCWwTKWH5urymfudH80rdZN8/edit?usp=sharing)

In [30]:
df.shape

(7, 10)

## Ohio data for COVID-19 cases

- This dataset came from the Ohio Department of Health's website under https://coronavirus.ohio.gov/wps/portal/gov/covid-19/dashboards 
- This dataset describes each counties COVID-19 cases in Ohio for all age groups 
- I plan to compare these numbers with the Ohio COVID-19 DODD cases, specifically ages 21-30 and 51-60, which are the highest number for both datasets
- I plan to crunch the numbers to have each age range listed and possibly each county listed

In [2]:
import pandas as pd
df = pd.read_csv('covid-death-data-county-of-residence.csv')

In [3]:
df.head(10)

                                                                                                            COVIDDeathData_CountyOfResidence
County Sex Age Range Onset Date Admission Date Date Of Death Case Count Hospitalized Count  Death Due To Illness Count - County Of Residence
Adams  NaN 0-19      2020-12-10 NaN            NaN           2          0                                                                  0
                     2020-12-11 NaN            NaN           1          0                                                                  0
                     2021-01-18 NaN            NaN           1          0                                                                  0
           20-29     2020-12-05 NaN            NaN           1          0                                                                  0
                     2020-12-10 NaN            NaN           1          0                                                                  0
                     2020-12-12 NaN            NaN           1          0                                                                  0
           30-39     2020-11-10 NaN            NaN           1          0                                                                  0
                     2020-12-07 NaN            NaN           1          0                                                                  0
           40-49     2020-12-08 NaN            NaN           1          0                                                                  0

In [4]:
df.tail(10)

                                               COVIDDeathData_CountyOfResidence
Lake       Female 80    NaN NaN 2021-03-13 0 0                                1
           Male   40-49 NaN NaN 2021-03-13 0 0                                1
Licking    Female 80    NaN NaN 2021-03-13 0 0                                1
Mercer     Male   70-79 NaN NaN 2021-03-13 0 0                                1
Montgomery Male   80    NaN NaN 2021-03-13 0 0                                1
Clermont   Female 80    NaN NaN 2021-03-14 0 0                                1
Cuyahoga   Female 80    NaN NaN 2021-03-14 0 0                                1
Darke      Male   80    NaN NaN 2021-03-14 0 0                                1
Cuyahoga   Female 80    NaN NaN 2021-03-15 0 0                                1
Williams   Male   80    NaN NaN 2021-03-15 0 0                                1

[Ohio COVID Cases](https://coronavirus.ohio.gov/wps/portal/gov/covid-19/dashboards)

In [35]:
df.shape

(9, 4)