In [1]:
import pandas as pd
df = pd.read_csv('ohio-dodd-covid-data.csv')

In [2]:
df.head(10)

,"Total DD Positive Cases (start of pandemic to Feb. 24, 2021)","Total DD Deaths (start on pandemic to Feb. 24, 2021)",Unnamed: 2,Age Range of Positives,"Number (Start of Pandemic to Feb. 24, 2021)",% of All Cases for Which Age Data Exists,Unnamed: 6,Living Situations of Positives,Number (Start of Pandemic to Feb 24. 2021),% of All Cases for Which Living Situation Data Exists
0,"4,757",199.0,NaN,0-20,422,9.20%,NaN,Living Alone,489.0,10.30%
1,NaN,NaN,NaN,21-30,767,16.70%,NaN,Living with Family,1163.0,24.60%
2,NaN,NaN,NaN,31-40,690,15.00%,NaN,Congregate Setting*,1804.0,38.10%
3,NaN,NaN,NaN,41-50,732,16.00%,NaN,ICF** or Nursing Facility,1281.0,27.00%
4,NaN,NaN,NaN,51-60,896,19.50%,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,61-70,746,16.30%,NaN,*Defined for COVID-tracking purposes as any ph...,NaN,NaN
6,NaN,NaN,NaN,70 & up,333,7.30%,NaN,**Licensed Intermediate Care Facility for the ...,NaN,NaN

In [3]:
df.tail(10)

,"Total DD Positive Cases (start of pandemic to Feb. 24, 2021)","Total DD Deaths (start on pandemic to Feb. 24, 2021)",Unnamed: 2,Age Range of Positives,"Number (Start of Pandemic to Feb. 24, 2021)",% of All Cases for Which Age Data Exists,Unnamed: 6,Living Situations of Positives,Number (Start of Pandemic to Feb 24. 2021),% of All Cases for Which Living Situation Data Exists
0,"4,757",199.0,NaN,0-20,422,9.20%,NaN,Living Alone,489.0,10.30%
1,NaN,NaN,NaN,21-30,767,16.70%,NaN,Living with Family,1163.0,24.60%
2,NaN,NaN,NaN,31-40,690,15.00%,NaN,Congregate Setting*,1804.0,38.10%
3,NaN,NaN,NaN,41-50,732,16.00%,NaN,ICF** or Nursing Facility,1281.0,27.00%
4,NaN,NaN,NaN,51-60,896,19.50%,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,61-70,746,16.30%,NaN,*Defined for COVID-tracking purposes as any ph...,NaN,NaN
6,NaN,NaN,NaN,70 & up,333,7.30%,NaN,**Licensed Intermediate Care Facility for the ...,NaN,NaN

df.dtypes

[Ohio DODD Cases](https://docs.google.com/spreadsheets/d/1Y7NPq1ysGui2aB7NlVrJCWwTKWH5urymfudH80rdZN8/edit?usp=sharing)

In [30]:
df.shape

(7, 10)

In [31]:
import pandas as pd
df = pd.read_csv('ohio-covid-data-age-range.csv')

In [32]:
df.head(10)

  Ohio's Data             Unnamed: 1              Unnamed: 2    Unnamed: 3
0        Ages  Total Number of Cases  Total Hospitalizations  Total Deaths
1        0-19                127,507                   1,202             4
2       20-29                178,840                   1,971            21
3       30-39                148,924                   2,589            88
4       40-49                142,430                   3,972           232
5       50-59                149,629                   7,252           860
6       60-69                116,695                  11,007         2,480
7       70-79                 68,329                  12,182         4,715
8         80+                 51,132                  11,036         9,262

In [33]:
df.tail(10)

  Ohio's Data             Unnamed: 1              Unnamed: 2    Unnamed: 3
0        Ages  Total Number of Cases  Total Hospitalizations  Total Deaths
1        0-19                127,507                   1,202             4
2       20-29                178,840                   1,971            21
3       30-39                148,924                   2,589            88
4       40-49                142,430                   3,972           232
5       50-59                149,629                   7,252           860
6       60-69                116,695                  11,007         2,480
7       70-79                 68,329                  12,182         4,715
8         80+                 51,132                  11,036         9,262

[Ohio COVID Cases](https://docs.google.com/spreadsheets/d/1_BgEw1-8Gt34EJ-nSPDGfaSy4gS_Sf_rIsZ-3dh-9SQ/edit?usp=sharing)

In [35]:
df.shape

(9, 4)